* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

.expense-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.expense-table th {
  background-color: #f8f8f8;
}

.total {
  margin-top: 20px;
  font-size: 16px;
}
span {
  color: red;
}
